---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---

<div id="page-wrapper">

<section class="wrapper style2" id="intro">

<div class="title">Accommodation</div>

<div class="container">

<div class="abstract">

<div class="inline-f6d8c6e93a">

iSES 2026 will be held at the National Institute of Technology Goa (NIT Goa), India.  
Participants are responsible for arranging their own accommodation.

The following hotels are located near the conference venue and are recommended for participants.

</div>

<br/>

<div class="inline-f6d8c6e93a">

<strong>Recommended Hotels Near NIT Goa</strong>

<br/><br/>

<strong>1. Radisson Blu Resort Goa</strong><br/>
Address: Cavelossim Beach, Mobor Beach, Goa – 403731, India<br/>
Phone: +91 832 672 6666<br/>
Distance from NIT Goa: Approximately 10 km<br/>

<br/>

<strong>2. Holiday Inn Resort Goa (IHG)</strong><br/>
Address: Mobor Beach, Cavelossim, Goa – 403731, India<br/>
Phone: +91 832 662 6000<br/>
Distance from NIT Goa: Approximately 12 km<br/>

<br/>

<strong>3. The LaLiT Golf & Spa Resort Goa</strong><br/>
Address: Raj Baga, Canacona, Goa – 403702, India<br/>
Phone: +91 832 266 7777<br/>
Distance from NIT Goa: Approximately 24 km<br/>

<br/>

<strong>4. Hotel Laxmi Empire</strong><br/>
Address: Rawanfond Circle, Opposite Margao Railway Station, Margao, Goa – 403601, India<br/>
Phone: +91 80102 15854<br/>
Distance from NIT Goa: Approximately 14 km<br/>

<br/>

<strong>5. Nanutel Margao</strong><br/>
Address: Padre Miranda Road, Pajifond, Margao, Goa – 403601, India<br/>
Phone: +91 832 272 9999<br/>
Distance from NIT Goa: Approximately 15 km<br/>

</div>

<br/>

<div class="inline-f6d8c6e93a">

Margao city, located about 15 km from NIT Goa, offers a wide range of additional hotels suitable for different budgets.  
Participants are encouraged to book accommodation early due to high tourist demand in Goa.

</div>

</div>

</div>

</section>

</div>
