---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---


<div id="page-wrapper">
<!-- Header -->

<!-- Intro -->
<section class="wrapper style2" id="manuscript-info">
<div class="title">Final Camera-ready Submission Instructions</div>
<div class="container inline-42bfb50818">
<h2 class="inline-b7cc2b0bde">Template for Final Manuscript</h2><br/>
<p class="inline-6fbcd14808">
            Please follow the template given at this link to comply with hosting policies at IEEE Xplore:
            <a href="https://www.ieee.org/conferences/publishing/templates" target="_blank" class="inline-a7988c6e19">IEEE Template for Final Manuscript</a>
</p>
<h3 class="inline-66222a39d3">Paper Specifications:</h3><br/>
<ul class="inline-881863a680">
<li>Invited Papers: Up to 6 Pages</li>
<li>Regular Papers: Up to 6 Pages</li>
<li>Posters/Short Papers: Up to 4 Pages</li>
<li>Student Research Forum (SRF): Up to 4 Pages</li>
<li>Research Demo Session (RDS): Up to 4 Pages</li>
</ul>
<p class="inline-d3124bdd63">
<strong>Note:</strong> All final manuscripts must be converted to IEEE Xplore-compatible PDF format. 
            Authors are required to use the <a href="pdf-express.html" class="inline-a7988c6e19">PDF Express</a> instructions 
            outlined on the PDF-Express page to ensure compliance before submission.
        </p>
</div>
</section>
<!-- Footer -->

</div>
