---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---


<div id="page-wrapper">
<!-- Header -->

<section class="wrapper style2" id="intro">
<div class="container">
<div class="abstract">
<h1 class="inline-9f55950b12">Call for Pre-Conference Tutorials (PCT)</h1><br/>
<div>
        Call for PCT PDF:
        <a href="{{ pdfs.ieee_ises_2025_pct }}" target="_blank" class="inline-f479d19ba2">
<img alt="" src="/images/pdf_icon.png"/ class="inline-3bd6760388">Download PDF
        </a>
</div>
<br/>
<div class="inline-f6d8c6e93a">
        The <strong>IEEE International Symposium on Smart Electronic Systems (IEEE iSES 2025)</strong> invites proposals for <strong>Pre-Conference Tutorials</strong> that explore emerging trends and concepts in the design and applications of Smart Electronic Systems &amp; VLSI.
      </div>
<br/>
<div class="inline-f6d8c6e93a">
        We encourage tutorial proposals—both academic and industrial—that introduce novel topics or address recent technical trends in areas such as:
      </div>
<ul class="inline-f6d8c6e93a">
<li>Home Automation</li>
<li>Wearables</li>
<li>Healthcare Systems</li>
<li>Smart Cities</li>
<li>Supply Chains</li>
<li>Smart Farming</li>
<li>Intelligent and Autonomous Systems</li>
<li>And others that are of interest to IEEE-iSES participant</li>
</ul>
<div class="inline-f6d8c6e93a">
        These tutorials aim to provide insights into emerging problems or cutting-edge solutions relevant to IEEE iSES participants.
      </div>
<br/>
<div class="inline-378e240f4a">
        Schedule:
      </div>
<div class="inline-f6d8c6e93a">
        Pre-Conference Tutorials will be conducted two days prior of <strong>December 13 and 14, 2025</strong>.
        Each tutorial is expected to be <strong>2–3 hours</strong> long.
      </div>
<br/>
<div class="inline-378e240f4a">
        Proposal Submission Guidelines:
      </div>
<div class="inline-7d27179924">
        Prepare a single PDF file (1–2 pages), using the template, that includes:
        <ul class="inline-7d27179924">
<li>A description of the session topic, format, and intended audience</li>
<li>List of speakers with biographical sketches</li>
<li>Presentation titles and brief abstracts</li>
</ul>
<ul class="inline-7d27179924">
<li>Submit your tutorial proposal through the <a href="https://cmt3.research.microsoft.com/IEEEiSeS2025">Microsoft CMT</a> system.</li>
<li>The Microsoft CMT system will be used for reviewing the tutorials.</li>
<li>Detailed submission instructions will be provided upon proposal acceptance.</li>
</ul>
</div>
<br/>
<div class="inline-e70cfdfd65">
        For questions regarding Pre-Conference Tutorials, please contact:
        <ul class="inline-54cc61ce73">
<li>Dr. Rajesh Kedia – <a href="mailto:rkedia@cse.iith.ac.in">rkedia@cse.iith.ac.in</a></li>
<li>Dr. Sandeep Saini – <a href="mailto:sandeep.saini@lnmiit.ac.in">sandeep.saini@lnmiit.ac.in</a></li>
</ul>
</div>
</div>
</div>
</section>
<!-- Footer -->

</div>
