---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---


<div id="page-wrapper">
<!-- Header -->

<!-- Container to display the PDF -->
<!-- Container to display the PDF -->
<!-- Container to display the PDF content -->
<section class="wrapper style2" id="intro">
<div class="container">
<div class="abstract">
<h1 class="inline-b6d76df50f">Call for Special Sessions</h1><br/>
<div>
				Special Sessions Organization Template: 
				<a href="{{ pdfs.ises_2025_ss_organization_template }}" target="_blank" class="inline-f479d19ba2">
<img alt="" src="/images/pdf_icon.png"/ class="inline-a8a7470ae3">Download PDF
				</a>
</div>
<div>
				Special Sessions Proposal Template: 
				<a href="{{ pdfs.ieee_ises_2025_ss_proposal_template }}" target="_blank" class="inline-f479d19ba2">
<img alt="" src="/images/pdf_icon.png"/ class="inline-a8a7470ae3">Download PDF
				</a>
</div>
<br/>
<div class="inline-f6d8c6e93a">
				The IEEE-iSES 2025 invites proposals for special sessions that explore emerging trends and concepts covering a broad range of topics in the areas related to the design and applications of Smart Electronic Systems &amp; VLSI. 
			</div>
<div class="inline-f6d8c6e93a">
				In particular, special sessions, both academic as well as industrial, concerning novel topics in Smart Systems, including those dealing with the introduction and discussion of emerging problems, or addressing recent technical trends in home automation, wearables, healthcare, smart cities, supply chains, and smart farming, intelligent and autonomous systems, and others that are of interest to IEEE-iSES participant, are encouraged to apply.
			</div>
<p class="inline-3c24c9f71d">
<ol class="inline-7d27179924">
<li>
						Special sessions typically run for 1.5 – 2 hours and will consist of 4-6 papers per session.
					</li>
<li>
						Each speaker at a special session has to submit a paper for inclusion in the conference proceedings. The speaker may submit a full paper (up to maximum 6 pages). Accepted papers will be submitted for inclusion into IEEE Xplore subject to meeting IEEE Xplore’s scope and quality requirements.
					</li>
<li>
						All papers will be reviewed before being published in the official proceedings of the conference in a separate track. Special session organizers are welcome to present their own research in their organized sessions.
					</li>
<li>
						The online submission system, Microsoft CMT, will be used for review of the proposals as well as individual papers.
					</li>
<li>
						Detailed submission instructions will be provided upon acceptance of the proposal.
					</li>
</ol>
</p>
<div class="inline-378e240f4a">
				Session proposal submission Guidelines:
			</div>
<div class="inline-7d27179924">
				Prepare a single PDF file (not exceeding 3 pages), using the template, for the proposal where you: <br/>
<ul class="inline-7d27179924">
<li>
						Describe the session topic, the format, and intended audience.
					</li>
<li>
						Include a list of speakers, their biographical sketch, presentation titles and possibly a short abstract.
					</li>
</ul>
				Submit your special session proposal in Microsoft CMT. <br/>
</div>
<br/>
<div class="inline-378e240f4a">
				Paper submission guidelines for Special Sessions:
			</div>
<div class="inline-7d27179924">
				Prepare a single PDF following the conferences author guidelines.<br/>
				Authors can submit their papers for the special sessions of IEEE iSES 2025 via Microsoft CMT, targeting one of the special sessions.<br/>
</div>
<br/>
<div class="inline-e70cfdfd65">
				For questions regarding the special sessions, please contact:<br/>
<ul class="inline-54cc61ce73">
<li>
				  Sujay Deb, IIIT Delhi, India 
				  <a href="mailto:sdeb@iiitd.ac.in"><i class="fas fa-envelope"></i></a>
</li>
<li>
				  Deepak Puthal, IIM Bodh Gaya, India 
				  <a href="mailto:deepak.puthal@ieee.org"><i class="fas fa-envelope"></i></a>
</li>
<li>
				  Prasun Ghosal, IIEST, Shibpur, India 
				  <a href="mailto:p_ghosal@it.iiests.ac.in"><i class="fas fa-envelope"></i></a>
</li>
</ul>
</div>
</div>
</div>
</section>
<!-- Footer -->

</div>
