---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---


<div id="page-wrapper">
<!-- Header -->

<!-- Intro -->
<section class="wrapper style2" id="intro">
<div class="title">Important Dates</div>
<div class="container">
<p class="inline-4564d88a05">
<h2 class="inline-935b1e9016">Submission: May 31, 2024</h2>
<h2 class="inline-935b1e9016">Acceptance: August 31, 2024</h2>
<h2 class="inline-935b1e9016">Final Submission: September 30, 2024</h2>
</p>
</div>
<!-- Footer -->

</section></div>
