---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---


<div id="page-wrapper">
<!-- Header -->

<!-- Intro -->
<section class="wrapper style2" id="manuscript-info">
<div class="title">Manuscript Information</div>
<div class="container inline-42bfb50818">
<h2 class="inline-50abf783a8">Formatting the
					Manuscripts for IEEE-CS</h2>
<h3 class="inline-66222a39d3">The manuscripts MUST be
					formatted using the templates provided below:</h3>
<ul class="inline-881863a680">
<li><a href="templates/IEEE-CS_conference-template-letter.docx" target="_blank" class="inline-a7988c6e19">8.5x11 2-column Word Template [US Letter]</a></li>
<li><a href="templates/IEEE-CS_conference-latex-template_10-17-19.zip" target="_blank" class="inline-a7988c6e19">8.5x11 2-column LaTeX Template [Use conference mode]</a></li>
<li><a href="templates/IEEEtran_HOWTO.pdf.crdownload" target="_blank" class="inline-a7988c6e19">LaTeX
							Instructions</a></li>
<li><a href="templates/IEEEtranBST2.zip" target="_blank" class="inline-a7988c6e19">LaTeX Bibliography
							Files</a></li>
</ul>
<h3 class="inline-66222a39d3">Paper Specifications:
				</h3>
<ul class="inline-881863a680">
<li>Invited Papers: Up to 6 Pages</li>
<li>Regular Papers: Up to 6 Pages</li>
<li>Short Papers/Poster: Up to 4 Pages</li>
<li>Student Research Forum (SRF): Up to 4 Pages</li>
<li>Research Demo Session (RDS): Up to 4 Pages</li>
</ul>
<p class="inline-d3124bdd63">
<strong>Note:</strong> All final manuscripts must be converted to IEEE Xplore-compatible PDF format.
					Authors are required to use the <a href="pdf-express.html" class="inline-a7988c6e19">PDF Express</a>
					instructions outlined on the PDF-Express page to ensure compliance before submission.
				</p>
</div>
</section>
<!-- Footer -->

</div>
