---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---

<div id="page-wrapper">
<!-- Header -->

<section class="wrapper style2" id="pdf-express">
<div class="title">PDF Express Instructions</div>

<div class="container inline-42bfb50818">

<h2 class="inline-1fd169ef49">Proceed to PDF Express</h2>

<p class="inline-7d27179924">
<a href="{{ links.pdfExpress }}" target="_blank">
<img alt="PDF Express" src="{{ links.pdfExpress }}/Content/images/pdf-express.jpg"/>
</a>
</p>


<p class="inline-8783acd9a0">
<strong>Conference ID: {{ links.pdfExpressConferenceId }}</strong>
</p>


<h3 class="inline-b7cc2b0bde">Why You Need to Use PDF Express</h3>

<p class="inline-7d27179924">
The IEEExplore requirements for PDF are enforced as of {{site.year}}. All conference articles submitted to
IEEE sponsored conferences must be in IEEExplore-compatible PDF format.
<br/>
IEEE offers PDF Express as a free service to IEEE conference authors, allowing you to make
IEEExplore-compatible PDFs (Conversion Function) or to check PDFs you have created yourself for
IEEExplore compatibility (PDF Check Function).
</p>


<h3 class="inline-b7cc2b0bde">Advantages to Authors</h3>

<br/>

<ul class="inline-16abd8ee1d">
<li>It provides a means for you to convert your files to PDF, without requiring you to have access to a conversion program.</li>
<li>This conversion is provided in an IEEExplore compatible format, without you having to worry about conversion settings.</li>
<li>The system emails the converted file back to you, so you can make sure that your contribution is IEEExplore compatible and that no unintended corruption occurred.</li>
<li>It ensures that your paper views and prints as well as possible in IEEExplore.</li>
<li>By minimizing the risk of post-processing problems, it reduces the amount of time it will take for your paper to appear on IEEExplore.</li>
<li>It greatly simplifies the task of conforming to IEEE submission requirements.</li>
</ul>


<h3 class="inline-b7cc2b0bde">Steps for Creating Your IEEExplore Compliant PDF</h3>

<br/>

<ol class="inline-16abd8ee1d">
<li>Create your manuscript.</li>
<li>Proofread and check layout of manuscript (it is highly recommended that you do this BEFORE going to PDF Express).</li>
<li>Create PDF Express account if you are a first-time user.</li>
<li>Upload source file(s) for Conversion; and/or PDF(s) for Checking.</li>
<li>Use PDF Express to attain IEEExplore-compatible PDFs. The site contains extensive instructions.</li>
<li>After finishing with the PDF Express web site, return to this website to submit your final, IEEExplore-compatible PDF(s).</li>
</ol>


<h3 class="inline-b7cc2b0bde">Using PDF Express</h3>

<br/>

<ol class="inline-16abd8ee1d">

<li>
Go to
<a href="{{ links.pdfExpress }}" target="_blank" class="inline-f45af570ed">
{{ links.pdfExpress }}
</a>
or click on the IEEE PDF Express logo at the top of the page to start.
</li>

<li>Once on the PDF Express website, create a new account by clicking on the “Create account” link.</li>

<li>Enter <strong>{{ links.pdfExpressConferenceId }}</strong> for the Conference ID.</li>

<li>Continue to enter information as prompted. You will receive an email confirming the successful creation of your account.</li>

<li>
Through your PDF Express account, you may submit your source application files for conversion to PDF,
and/or submit PDFs for checking. You will have the opportunity to revise your submission if you are not satisfied with the PDF that PDF Express creates for you,
if you find mistakes in your manuscript, or if your PDF fails the PDF Check.
</li>

<li>
Technical support via email is available if you experience trouble in creating your PDF:
<a href="mailto:pdfsupport@ieee.org" class="inline-f45af570ed">
pdfsupport@ieee.org
</a>.
</li>

</ol>


<p class="inline-15ca6d58d4">
<strong>Note:</strong>
When checked with PDF Express the paper is NOT submitted yet.
After receiving confirmation of compliance from PDF Express authors must submit the PDF file approved by PDF Express through the online submission system.
</p>

</div>
</section>

</div>
