---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---

<div id="page-wrapper">
<!-- Header -->

<section class="wrapper style2" id="intro">
  <div class="title">Sponsorship</div>

  <div class="container">

    <p class="style1 inline-a37059b087">
      International Symposium on Smart Electronic Systems (iSES) 2026 — Sponsorship Information
    </p>

    <p class="style1">
      Sponsorship of an international conference represents an organization’s innovations, developments, and capabilities to a global audience of scientists and engineers from academia and industry. Sponsorship opportunities for iSES 2026 are available on a first-come, first-serve basis. Organizations are encouraged to reserve sponsorship opportunities that highlight their brand and support the conference community.
    </p>

    <table>
      <thead>
        <tr>
          <th>Sponsorship Categories</th>
          <th>Fees (US $)</th>
          <th>Sponsorship Privileges from iSES</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><strong>Silicon</strong></td>
          <td>6,000</td>
          <td>
            <ol>
              <li>The sponsor's name would be displayed synonymously with iSES 2026.</li>
              <li>Appropriately sized logo in the backgrounds and slide templates along with applicable logos.</li>
              <li>Logo on the conference badge, along with the conference logo.</li>
              <li>Registration fee will be waived for up to 10 delegates from the sponsor.</li>
              <li>Coverage in electronic media as per conference's publicity plan that gets to be in place.</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td><strong>Gold</strong></td>
          <td>4,000</td>
          <td>
            <ol>
              <li>The sponsor would be a co-sponsor and its name would be displayed on every poster of the iSES 2026.</li>
              <li>Appropriately sized logo in the backgrounds and slide templates along with applicable logos.</li>
              <li>Coverage in electronic media as per conference's publicity plan that gets to be in place.</li>
              <li>Registration fee will be waived for up to 6 delegates from the sponsor.</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td><strong>Silver</strong></td>
          <td>2,500</td>
          <td>
            <ol>
              <li>Appropriately sized logo in the backgrounds and slide templates along with applicable logos.</li>
              <li>Coverage in electronic media as per conference's publicity plan that gets to be in place.</li>
              <li>Registration fee will be waived for up to 4 delegates from the sponsor.</li>
            </ol>
          </td>
        </tr>

        <tr>
          <td><strong>Bronze</strong></td>
          <td>1,500</td>
          <td>
            <ol>
              <li>Appropriately sized logo in the backgrounds and slide templates along with applicable logos.</li>
              <li>Coverage in electronic media as per conference's publicity plan that gets to be in place.</li>
              <li>Registration fee will be waived for up to 2 delegates from the sponsor.</li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>

    <br/>

    <p class="style1"><strong>Note:</strong></p>
    <ul>
      <li class="inline-100fab809f">
        In addition to the above, other negotiable sponsorship is possible on a case-to-case basis. Sponsorship contact details will be announced soon.
      </li>
      <li class="inline-100fab809f">
        In case of common item of interest, higher sponsorship package sponsors will be given the first preference, if applicable.
      </li>
      <li class="inline-100fab809f">
        Logos to be provided by the sponsor as per conference specifications. All content for display material, banners, backdrops, and advertisements to be used as sponsorship collaterals must be supplied by sponsors in the required formats within the specified timelines.
      </li>
      <li class="inline-100fab809f">
        Payments may be made in US $ or Indian National Rupee (INR). Sponsors are responsible for ensuring prevailing conversion rates on the day of remittance.
      </li>
    </ul>

  </div>
</section>

<!-- Footer -->
</div>
