---
layout: layouts/base.njk
pageTitle: "iSES"
bodyClass: "homepage is-preload"
---


<div id="page-wrapper">
<!-- Header -->

<!-- Intro -->
<section class="wrapper style2" id="intro">
<div class="title">Statements</div>
<div class="container">
<p class="style1 inline-25eb3856f6">
					IEEE Computer Society Open Conference Statement
				</p>
<p class="style1 inline-03e9393d7f">
					Equity, Diversity, and Inclusion are central to the goals of the IEEE Computer Society and all of its conferences. Equity at its heart is about removing barriers, biases, and obstacles that impede equal access and opportunity to succeed. Diversity is fundamentally about valuing human differences and recognizing diverse talents. Inclusion is the active engagement of Diversity and Equity.
				</p>
<p class="style1 inline-03e9393d7f">
					A goal of the IEEE Computer Society is to foster an environment in which all individuals are entitled to participate in any IEEE Computer Society activity free of discrimination. For this reason, the IEEE Computer Society is firmly committed to team compositions in all sponsored activities, including but not limited to, technical committees, steering committees, conference organizations, standards committees, and ad hoc committees that display Equity, Diversity, and Inclusion.
				</p>
<p class="style1 inline-03e9393d7f">
					IEEE Computer Society meetings, conferences and workshops must provide a welcoming, open and safe environment, that embraces the value of every person, regardless of race, color, sex, sexual orientation, gender identity or expression, age, marital status, religion, national origin, ancestry, or disability. All individuals are entitled to participate in any IEEE Computer Society activity free of discrimination, including harassment based on any of the above factors. 
				</p>
</div>
<div class="container">
<p class="style1 inline-25eb3856f6">
					IEEE Event Conduct and Safety Statement
				</p>
<p class="style1 inline-03e9393d7f">
					IEEE believes that science, technology, and engineering are fundamental human activities, for which openness, international collaboration, and the free flow of talent and ideas are essential. Its meetings, conferences, and other events seek to enable engaging, thought provoking conversations that support IEEE’s core mission of advancing technology for humanity. Accordingly, IEEE is committed to providing a safe, productive, and welcoming environment to all participants, including staff and vendors, at IEEE-related events.
				</p>
<p class="style1 inline-03e9393d7f">
					IEEE has no tolerance for discrimination, harassment, or bullying in any form at IEEErelated events. All participants have the right to pursue shared interests without harassment or discrimination in an environment that supports diversity and inclusion. Participants are expected to adhere to these principles and respect the rights of others. 
				</p>
<p class="style1 inline-03e9393d7f">
					IEEE seeks to provide a secure environment at its events. Participants should report any behavior inconsistent with the principles outlined here, to on site staff, security or venue personnel, or to <a mailto:eventconduct@ieee.org="" class="inline-f479d19ba2">eventconduct@ieee.org</a>
</p>
</div>
</section>
<!-- Footer -->

</div>
